
@*
https://learn.microsoft.com/en-us/dotnet/architecture/blazor-for-web-forms-developers/components
*@

<div>
    <h2>Morphological-Anthropmetric</h2>
</div>

@code 
{
    private double body_mass_index_bmi = 0;

    private void Calculate()
    {
        body_mass_index_bmi = 24.2;
    }
}